body {
  background-color: hsl(212, 45%, 89%);
  font-family: "Outfit", sans-serif;
  text-align: center;
}

.container {
  background-color: hsl(0, 0%, 100%);
  border-radius: 15px;
  height: 497px;
  width: 337px;
  margin: 13% 41%;
  box-shadow: 3px 6px 12px 5px rgb(206 206 206);
}

.qrcode img {
  width: 295px;
  height: 272px;
  border-radius: 8px;
  margin-top: 21px;
}

.instrucoes {
  margin: 0 29px;
}

.container h2 {
  font-weight: 700;
}
.container p {
  font-size: 17px;
  font-weight: 400;
  color: #7b879d;
}

@media screen and (min-width: 375px) and (max-width: 1440px) {
  .container {
    height: 520px;
    margin: 0 3%;
    margin-top: 30%;
  }

  .qrcode img {
    width: 315px;
    height: 290px;
    margin-top: 21px;
  }

  .instrucoes {
    margin: 0 29px;
  }

  .container p {
    font-size: 17px;
  }
}
